 .u-section-1 {
  background-image: none;
  min-height: 810px;
}

.u-section-1 .u-group-1 {
  height: auto;
  margin-top: 84px;
  margin-bottom: 60px;
  min-height: 643px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 55px 30px 30px;
}

.u-section-1 .u-shape-1 {
  height: 332px;
  margin: 54px auto 0 -30px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 991px;
  margin: -386px auto 0 84px;
}

.u-section-1 .u-image-1 {
  min-height: 583px;
  background-image: url("images/logo.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 30px 48px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 218px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: 25px 298px 0 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 365px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-1 .u-shape-2 {
  height: 16px;
  background-image: none;
  width: 462px;
  margin: 0 200px 0 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  line-height: 2.2;
  font-weight: 700;
  font-style: italic;
  font-size: 1.125rem;
  margin: 10px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 855px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 478px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 188px;
  }

  .u-section-1 .u-text-1 {
    margin-right: -95px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 423px;
  }

  .u-section-1 .u-shape-2 {
    width: 368px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 660px;
  }

  .u-section-1 .u-image-1 {
    min-height: 366px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-shape-2 {
    width: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 520px;
  }

  .u-section-1 .u-image-1 {
    min-height: 549px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 61px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 811px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 102px;
    margin-bottom: 57px;
    min-height: 652px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 290px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 356px;
    margin-top: -628px;
    margin-left: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 346px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 103px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 200px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 39px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 5px;
  }
}.u-block-2ebb-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-2ebb-3 {
  position: absolute;
  left: 0;
}

.u-block-2ebb-4 {
  position: absolute;
  right: 0;
}

 .u-section-2-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/REFLEXOLOGIA-PODAL-.jpg");
  background-position: 50% 50%;
}

.u-section-2-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 252px auto 0;
}

.u-section-2-1 .u-text-2 {
  margin: 31px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2-1 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-2-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

 .u-section-2-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/Masaje-con-ventosas-cupping-madrid.jpg");
  background-position: 50% 50%;
}

.u-section-2-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 252px auto 0;
}

.u-section-2-2 .u-text-2 {
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-2-2 .u-text-1 {
    font-size: 3.75rem;
  }
}

 .u-section-2-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/que-es-la-maderoterapia-foto.jpg");
  background-position: 50% 50%;
}

.u-section-2-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-3 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 252px auto 0;
}

.u-section-2-3 .u-text-2 {
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2-3 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-2-3 .u-text-1 {
    font-size: 3.75rem;
  }
}.u-block-c347-5 {
  position: absolute;
  top: auto;
  left: calc(((100% - 1140px) / 2)  + 547px);
  right: auto;
  bottom: 11px;
}

.u-block-c347-3 {
  position: absolute;
  left: 0;
}

.u-block-c347-6 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}

@media (max-width: 1199px) {
  .u-block-c347-5 {
    left: calc(((100% - 940px) / 2)  + 447px);
  }
}

@media (max-width: 991px) {
  .u-block-c347-5 {
    left: calc(((100% - 720px) / 2)  + 337px);
  }
}

@media (max-width: 767px) {
  .u-block-c347-5 {
    left: calc(((100% - 540px) / 2)  + 247px);
  }
}

@media (max-width: 575px) {
  .u-block-c347-5 {
    left: calc(((100% - 340px) / 2)  + 147px);
  }
}

 .u-section-3-1 {
  background-image: linear-gradient(0deg, rgba(217,217,217,0.4), rgba(217,217,217,0.4)), url("images/e34d81783dd58f4abf4d6ac18e64c9c3af53e4ed20e3af128a104031ecba64f15d075e1e0b3d5ec06e208b577219694270c501c49ce222313e1744_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3-1 .u-sheet-1 {
  min-height: 801px;
}

.u-section-3-1 .u-text-1 {
  margin: 53px auto 0;
}

.u-section-3-1 .u-image-1 {
  width: 556px;
  height: 428px;
  margin: 90px auto 0 0;
}

.u-section-3-1 .u-text-2 {
  margin: -317px 0 60px 570px;
}

.u-section-3-1 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-3-1 .u-text-2 {
    margin-top: 20px;
    margin-left: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-3-1 .u-text-2 {
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-3-1 .u-image-1 {
    width: 540px;
    height: 415px;
  }

  .u-section-3-1 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-3-1 .u-image-1 {
    height: 261px;
    margin-top: 66px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3-1 .u-text-2 {
    width: auto;
    margin-top: 38px;
  }
}

 .u-section-3-2 {
  background-image: linear-gradient(0deg, rgba(217,217,217,0.4), rgba(217,217,217,0.4)), url("images/e34d81783dd58f4abf4d6ac18e64c9c3af53e4ed20e3af128a104031ecba64f15d075e1e0b3d5ec06e208b577219694270c501c49ce222313e1744_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3-2 .u-sheet-1 {
  min-height: 801px;
}

.u-section-3-2 .u-text-1 {
  margin: 52px auto 0;
}

.u-section-3-2 .u-image-1 {
  width: 556px;
  height: 428px;
  margin: 90px auto 0 1px;
}

.u-section-3-2 .u-text-2 {
  margin: -318px 0 60px 570px;
}

.u-section-3-2 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-3-2 .u-text-2 {
    margin-top: 20px;
    margin-left: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-3-2 .u-text-2 {
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-3-2 .u-image-1 {
    width: 540px;
    height: 416px;
    margin-left: 0;
  }

  .u-section-3-2 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-3-2 .u-image-1 {
    height: 262px;
    margin-top: 52px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3-2 .u-text-2 {
    width: auto;
    margin-top: 52px;
  }
}

 .u-section-3-3 {
  background-image: linear-gradient(0deg, rgba(217,217,217,0.4), rgba(217,217,217,0.4)), url("images/e34d81783dd58f4abf4d6ac18e64c9c3af53e4ed20e3af128a104031ecba64f15d075e1e0b3d5ec06e208b577219694270c501c49ce222313e1744_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3-3 .u-sheet-1 {
  min-height: 801px;
}

.u-section-3-3 .u-text-1 {
  margin: 52px auto 0;
}

.u-section-3-3 .u-text-2 {
  margin: 200px 0 0 570px;
}

.u-section-3-3 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-3-3 .u-image-1 {
  width: 491px;
  height: 491px;
  margin: -254px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-3-3 .u-text-2 {
    margin-top: 539px;
    margin-left: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-3-3 .u-text-2 {
    margin-left: 150px;
  }

  .u-section-3-3 .u-image-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-3-3 .u-text-2 {
    margin-top: 527px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 796px;
  }

  .u-section-3-3 .u-text-2 {
    width: auto;
    margin-top: 428px;
  }

  .u-section-3-3 .u-image-1 {
    height: 340px;
    margin-top: -533px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}